<div class="container-fluid">
    <div style="background-color: rgb(148, 245, 45)" class="border border-3 gap-3 d-flex justify-content-start">
        <h1>Nav Bar</h1>
        <div><a href="" class="btn btn-dark" routerLink="bmi/page">BMI</a></div>
        <div><a href="" class="btn btn-dark" routerLink="emi">EMI</a></div>
        <div><a href="" class="btn btn-dark" routerLink="anagram">Anagram</a></div>
        <div><a href="" class="btn btn-dark" routerLink="addition">Addition</a></div>
        <div><a href="" class="btn btn-dark" routerLink="digital-storage">Digital Storage</a></div>
        <div><a href="" class="btn btn-dark" routerLink="leap-year">Leap year</a></div>
        <div><a href="" class="btn btn-dark" routerLink="length">Length</a></div>
        <div><a href="" class="btn btn-dark" routerLink="login">Login</a></div>
        <div><a href="" class="btn btn-dark" routerLink="prime-no">Prime number</a></div>
        <div><a href="" class="btn btn-dark" routerLink="register-user">Register User</a></div>
        <div><a href="" class="btn btn-dark" routerLink="speed">Speed</a></div>
        <div><a href="" class="btn btn-dark" routerLink="subtraction">Subtraction</a></div>
        <div><a href="" class="btn btn-dark" routerLink="temperture">Temperture</a></div>
    </div>
</div>