<h1 style="background-color: rgb(148, 245, 45); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hello World</h1>

<h4 style="background-color: rgb(148, 245, 45); font-style: italic; font-variant: small-caps;">My name is {{name}}, Age: {{age}},Education:{{degree}}</h4>

<button style="background-color: rgb(148, 245, 45); border-radius: 4%;" (click)="sayHello()">Click here</button>
<button style="background-color: rgb(148, 245, 45); border-radius: 4%;" (click)="showDate()">Show date</button>
<button style="background-color: rgb(148, 245, 45); border-radius: 4%;" (click)="showTime()">Show time</button>

<h1 style="background-color: rgb(148, 245, 45);">{{currentDate}}</h1>
<h1 style="background-color: rgb(148, 245, 45);">{{currentTime}}</h1>

<input type="text" #num placeholder="Enter a number">
<button (click)="checkNum(num)">Check</button>
<div>{{checkresult}}</div>

<app-nav></app-nav>
<router-outlet></router-outlet>